
{% extends "base.html" %}
{%load static%}

{% block cabeceratitulo %}

<title>Contacto</title>
{% endblock %}
{% block contenido %}
<div class="container mt-4" id="caja_registro">
    <div id="content_form" class="d-flex flex-column justify-content-center align-items p-3 border rounded">
        <div class="container">
            {% if success %}
                <h2>¡Pedido Enviado con Éxito!</h2>
                <p>Gracias por tu pedido. Nos pondremos en contacto contigo pronto.</p>
            {% else %}
                <h2>Realizar Pedido Personalizado</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Enviar Pedido</button>
                </form>
        </div>
    </div>
</div>
    {% endif %}
{% endblock %}