
{% extends "base.html" %}
{%load static%}

{% block cabeceratitulo %}
<script type="text/javascript" src="../js/mapa.js"></script>
<title>Ubicacion</title>
{%endblock%}
{% block contenido %}
    <div class="fondomapa">
        <div class="textoorden" >
        <h2>Revisa nuestros restaurantes</h2>
        </div>
        <div class="ordenmapa">
            <div id="map">
                <script src="js/main.js"></script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>
            </div>
        </div>
    </div>
{% endblock %}
